header {
  background-color: #2CACE1;
  width: 100%;
  height: 72px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

header .title {
  float: left;
  line-height: 72px;
  margin: 0 0 0 16px;
}

header a:-webkit-any-link {
  text-decoration: none;
  color: white;
}

header ul {
  margin: 0;
  padding: 0;
  float: right;
  line-height: 72px;
}

header ul li {
  display: inline-block;
  margin-right: 30px;
}

header #toggle-menu {
  display: none;
  float: right;
  line-height: 72px;
}


/*レスポンシブ対応*/
@media screen and (max-width: 660px) {
  header #toggle-menu {
    display: block;
    margin-right: 16px;
  }

  header ul {
    display: none;
  }

  .open ul {
    text-align: center;
    background-color: #2CACE1;
    width: 100%;
    position: absolute;
    top: 72px;
    display: block;
    box-shadow: 10px 0 0 0 rgba(0, 0, 0, 0.5);
    z-index: 100;
  }

  .open ul li {
    display: block;
  }
}
