header{
  background-color: #2CACE1;
  width: 100%;
  height: 72px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

header .title{
  float: left;
  line-height: 72px;
  margin: 0 0 0 16px;
}

header a:-webkit-any-link {
  text-decoration: none;
  color: white;
}

header ul {
  float: right;
  line-height: 72px;
  margin: 0;
  padding: 0;
}

header ul li{
  display: inline-block;
  margin-right: 30px;
}

.btn-flat-border {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  background: #67c5ff;
  color: white;
  cursor: pointer;
  transition: .4s;
  margin-top: 8px;
}

.btn-flat-border:hover {
  background: #3551c0;
  border: solid 2px #3551c0;
}

.btn-rect-border {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 5em;
  height: 2.5em;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 8px;
  padding: 0.3em 1em;
  text-decoration: none;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  background: #67c5ff;
  color: white;
  cursor: pointer;
  transition: .4s;
}

.btn-rect-border:hover {
  background: #3551c0;
  border: solid 2px #3551c0;
}

#form-question {
  color: rgba(127, 127, 127, 0.96);
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  padding: 0 0.6em 0.6em 0.6em;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#form-test {
  color: rgba(127, 127, 127, 0.96);
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card-form {
  background: white;
  padding: 0.6em;
  border-radius: 5px;
}

#tests {
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
}

#tests ul {
  position: relative;
}

.tests .test {
  color: rgba(127, 127, 127, 0.96);
  border-left: solid 6px #2d8fdd; /*左側の線*/
  background: white; /*背景色*/
  margin-bottom: 12px; /*下のバーとの余白*/
  line-height: 2;
  font-size: 24px;
  padding: 0.5em;
  border-radius: 5px;
  transition: .4s;
  list-style-type: none !important; /*ポチ消す*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.tests .test:hover {
  color: rgba(92, 92, 92, 0.96);
  background: #d7d7d7; /*背景色*/
}

.card-question {
  position: relative;
}

.card-test {
  position: relative;
}

.questions .question {
  overflow: hidden;
  position: relative;
  display: block;
  color: rgba(127, 127, 127, 0.96);
  border-left: solid 6px #2d8fdd; /*左側の線*/
  background: white; /*背景色*/
  margin-bottom: 12px; /*下のバーとの余白*/
  line-height: 1;
  height: 4em;
  font-size: 16px;
  padding: 0 16px 8px 12px;
  border-radius: 5px;
  transition: .4s;
  list-style-type: none !important; /*ポチ消す*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.questions .question:hover {
  color: rgba(92, 92, 92, 0.96);
  background: #d7d7d7; /*背景色*/
}

.clickable {
  text-decoration: none;
}

.cp_iptxt {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
}

.cp_iptxt textarea {
  font: 15px/24px sans-serif;
  box-sizing: border-box;
  width: 100%;
  padding: 0.3em;
  transition: 0.3s;
  letter-spacing: 1px;
  line-height: 2;
  border: 1px solid #1b2538;
  border-radius: 4px;
}

.cp_iptxt.correct textarea {
  border: 2px solid #31a854;
}

.cp_iptxt.other textarea {
  border: 2px solid #a80400;
}

.cp_iptxt textarea:disabled {
  background: #9b9b9b;
}

.button-menu {
  width: 100%;
  line-height: 2;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#content-login {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%;
}

.loading {
  width: 100%;
  text-align: center;
  color: #2CACE1;
  font-size: 36px;
}

.tabs {
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
}

/*タブのスタイル*/
.tab_item {
  width: calc(100% / 4);
  height: 50px;
  border-bottom: 3px solid #2CACE1;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
}

.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  clear: both;
  overflow: hidden;
}


/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #2CACE1;
  color: #fff;
}

.cp_ipselect {
  overflow: visible;
  margin: 8px 0 0 0;
  text-align: center;
}

.cp_ipselect select {
  width: 100%;
  padding-right: 1em;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}

.cp_ipselect select::-ms-expand {
  display: none;
}

.cp_ipselect.cp_sl01 {
  position: relative;
  border: 1px solid #bbbbbb;
  border-radius: 2px;
  background: #ffffff;
}

.cp_ipselect.cp_sl01::before {
  position: absolute;
  top: 0.8em;
  right: 0.9em;
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #666666;
  pointer-events: none;
}

.cp_ipselect.cp_sl01 select {
  padding: 8px 38px 8px 8px;
  color: #666666;
}

.none {
  display: none;
}

.cp_ipcheck {
  padding-left: 5px;
  text-align: left;
  margin-top: 8px;
  border: 1px solid #666666;
  border-radius: 5px;
}

.cp_ipcheck input {
  display: none;
}

.cp_ipcheck label {
  position: relative;
  display: block;
  padding: 8px 35px 8px 0;
  cursor: pointer;
}

.cp_ipcheck input[type='checkbox'] {
  position: absolute;
  visibility: hidden !important;
}

.cp_ipcheck input[type='checkbox'] + label:before,
.cp_ipcheck input[type='checkbox'] + label:after {
  position: absolute;
  top: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: -7.5px;
  margin-right: 8px;
  content: '';
}

.cp_ipcheck input[type='checkbox'] + label:before {
  right: 0;
  width: 30px;
  height: 15px;
  border: 1px solid #e4e3e1;
  border-radius: 15px;
  background: #ffffff;
}

.cp_ipcheck input[type='checkbox'] + label:after {
  right: 15px;
  width: 15px;
  height: 15px;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  border-radius: 50%;
  background: #bdbdbd;
}

.cp_ipcheck input[type='checkbox']:checked + label:after {
  right: 0;
  background: #2CACE1;
}

#detail {
  border: 1px solid #1b2538;
  margin-top: 16px;
  padding: 0.3em;
  cursor: pointer;
  border-radius: 5px;
}

#cancel-question {
  margin: 8px 0 8px auto;
}

#form-header {
  display: flex;
  flex-direction: row;
}

.single {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
  white-space: nowrap;
}

#image-question {
  cursor: pointer;
  margin-top: 8px;
  border: 1px solid #1b2538;
  padding: 0.3em;
  border-radius: 5px;
}

#group-image-question {
  position: relative;
}

#message-image {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 0.3em;
  margin-top: auto;
  margin-bottom: auto;
}

#content-about {
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background: white;
  padding: 0.6em;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#ad {
  text-align: center;
  vertical-align: center;
  margin: 24px auto;
}



