#app{
  height: 100%;
  width: 100%;
}

.single {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
}

#ad {
  text-align: center;
  vertical-align: center;
  margin: 24px auto;
}

