#app{
  height: 100%;
  width: 100%;
}

.clickable:hover{
  color: rgba(92, 92, 92, 0.96);
  background: #d7d7d7;
}

.clickable {
  text-decoration: none;
  cursor: pointer;
}

.none {
  display: none;
}

.single {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
  white-space: nowrap;
}

#image-question {
  cursor: pointer;
  margin-top: 8px;
  border: 1px solid #1b2538;
  padding: 0.3em;
  border-radius: 5px;
}

#group-image-question {
  position: relative;
}

#message-image {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 0.3em;
  margin-top: auto;
  margin-bottom: auto;
}

.content-about {
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  padding: 0.6em;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#ad {
  text-align: center;
  vertical-align: center;
  margin: 24px auto;
}

